.buttons button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    background: rgba(0, 0, 0, 0.87);
    color: #fff;
    cursor: pointer;
}
.buttons{
    margin-left: 3rem;
    margin-top: 3rem;
}
                            /* javascript styling */
#toastbox{
    margin-left: 1300px;
    margin-top: 200px;
}
.toast{
    /* border: 2px solid red; */
    font-size: 1.2rem;
    width: 400px;
    height: 60px;
    margin-left: -20rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    background: white;
    box-shadow: 5px 2px 11px 0px gray;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
}
                      /* icon styling */
.toast i{
    font-size: 2rem;
    color: green;
    margin-right: 0.5rem;
}
.error i{
    color: red;
}
.invalid i{
    color: orange;
}
                     /* line add karo */
.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
  background: green;
   width: 100%;
   height: 5px;
   animation: anim 5s linear forwards;
}
@keyframes anim{
    100%{
width: 0;
    }
}
.toast.error::after{
    background: red;
}
.toast.invalid::after{
    background: orange;
}