.container{
    margin-top: 10rem;
    margin-left: 9rem;
}
.container h2{
    font-size: 3rem;
    margin-top: -1.5rem;
}
.date-background{
    height: 100px;
    width: 600px;
    border-radius: 0.5rem;
}
#btn{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
   outline:none;
    background: yellow;
    cursor: pointer;
    border-radius: 0.5rem;
}
#date{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 13rem;
}
#date::-webkit-calendar-picker-indicator{
    left: 18rem;
    position: absolute;
    font-size: 1.5rem;
}
.inside-container{
    margin-left: 3rem;
    margin-top: 1.9rem;
    position: absolute;
}