.container{
 margin-top: 5rem;
 margin-left: 10rem;
}
#main-heading{
    display: flex;
    flex-direction: row;
}
#main-heading img{
    width: 40px;
    height: 40px;
}
#main-heading h2{
    margin-top: -1px;
    font-size: 2rem;
}
                         /* middle heading styling */
#middle-heading button{
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 2rem;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
}
#middle-heading button img{
    width: 25px;
    height: 25px;
    margin-left: -2rem;
    margin-top: -5px;
    position: absolute;
}
                                  /* writing tab styling */
#text-container{
    margin-top: 5rem;
    
}
.input{
    max-width: 400px;
    height: 150px;
    outline: none;
    background: white;
    border-radius: 1rem;
    position: relative;
}
#text-container .input img{
    width: 30px;
    height: 22px;
    position: absolute;
   bottom: 15px;
    right:0.5rem;
    cursor: pointer;
}