.container{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 350px;
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}
.container h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    padding-top: 5rem;
}
.image2{
    margin-left: 3rem;
    position: absolute;
    margin-top: -7rem;
}
.image2 img{
margin-left: 3rem;
margin-top: 9rem;
width: 50px;
cursor: pointer;
}
#play{
    width: 80px;
}