.container{
    width: 600px;
    height: 1000px;
    background: #fff;
    margin: 0 auto;
    margin-top: 8rem;
    border-radius: 1.5rem;
}
.heading{
    margin-top: 1.5rem;
  position: absolute;
  margin-left: 3rem;
  color: rgb(6, 6, 102);
}
.line{
    height: 0.1rem;
    width: 530px;
    background: rgba(128, 128, 128, 0.807);
}

.heading h1{
   margin-bottom: 2rem;
}
.heading h2{
    margin-top: 2rem;
} 
                                      /* button1 styling */
#button1{
    /* display: flex;
    flex-direction: column; */
    margin-top: 12rem;
    position: absolute;
}
.btn{
    padding-right: 29rem;
    margin-left: 3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
    background: #fff;
}
.btn:hover{
    background: black;
    color: #fff;
} 
                                   /* button2 styling */
#next{
    padding: 0.5rem 2rem;
    background:  rgb(6, 6, 102);
    color: #fff;
    width: 25%;
    margin-left: 14rem;
    margin-top: 27rem;
    display: none;
}