.container{
    height: 500px;
    width: 400px;
    background: #3a4452;
    margin:0 auto;
    margin-top: 8rem;
}
.container input{
    box-shadow: -8px -8px -8px rgba(255,255,255,0.1),5px 5px 5px rgba(0,0,0,0.2);
    background: transparent;
    margin: 10px;
    font-size: 20px;
    width: 60px;
    height: 60px;
    color: #fff;
    cursor: pointer;
}
.input-box input{
    width: 380px;
    text-align: right;
    font-size: 2rem;
}
.btn{
    margin-left: 2rem;
}
#last-btn{
width: 150px;
}